<div class="home-page">
  <!-- Hero Section -->
  <app-hero (goToBooking)="goToBooking()"></app-hero>
  
  <!-- About Section -->
  <app-about (bookingClick)="goToBooking()"></app-about>
  
  <!-- Decorative Line Divider -->
  <app-section-divider type="decorative-line" color="primary"></app-section-divider>
  
  <!-- Baptism Section -->
  <app-baptism (bookingClick)="goToBooking()"></app-baptism>
  
  
  <!-- Structure Section -->
  <app-structure (bookingClick)="goToBooking()"></app-structure>
  
  
  <!-- Gallery Section -->
  <app-gallery (bookingClick)="goToBooking()"></app-gallery>
  
  <!-- Decorative Line Divider -->
  <app-section-divider type="decorative-line" color="primary"></app-section-divider>
  
  <!-- Booking CTA Section -->
  <!-- <app-booking-cta (goToBooking)="goToBooking()"></app-booking-cta> -->
  
  <!-- Location Section -->
  <app-location></app-location>
</div>